.container_FormControl {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-family: "Merriweather", serif;
}

.container_FormControl input {
  box-shadow: 10px 5px 5px black;
}

.form-label {
  font-size: 1.5em;
  font-weight: 700;
}

.form-control {
  padding: 0.3em;
}
